<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
	<key>CPApplicationDelegateClass</key>
	<string>AppController</string>
	<key>CPBundleName</key>
	<string>mailmergingGUI</string>
	<key>CPPrincipalClass</key>
	<string>CPApplication</string>
	<key>CPBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CPBundleTypeName</key>
			<string>MyBundle</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pll</string>
			</array>
			<key>CPDocumentClass</key>
			<string>MMGDocument</string>
		</dict>
	</array>
</dict>
</plist>
